apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps-local
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/prairiedoggg/bunn.git
    targetRevision: HEAD
    path: k8s/argocd/apps/local
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

