apiVersion: v1
kind: Service
metadata:
  name: redpanda
  namespace: bunn
spec:
  selector:
    app: redpanda
  ports:
    - name: kafka
      port: 9092
      targetPort: kafka
    - name: admin
      port: 9644
      targetPort: admin
  type: ClusterIP

